body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:50px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:73px;
  width:104px;
  height:21px;
  font-size:18px;
  color:#990033;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:50px;
  top:95px;
  width:740px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u5 {
  position:absolute;
  left:375px;
  top:330px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:50px;
  top:115px;
  width:750px;
  height:225px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:225px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  word-wrap:break-word;
}
