body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:50px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:73px;
  width:104px;
  height:21px;
  font-size:18px;
  color:#990033;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:50px;
  top:95px;
  width:740px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u5 {
  position:absolute;
  left:60px;
  top:137px;
  width:35px;
  height:16px;
  font-size:14px;
  color:#990033;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:60px;
  top:168px;
  width:62px;
  height:16px;
  font-size:14px;
  color:#990033;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:60px;
  top:234px;
  width:34px;
  height:16px;
  font-size:14px;
  color:#990033;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:60px;
  top:370px;
  width:340px;
  height:20px;
  font-size:14px;
  color:#990033;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:144px;
  top:164px;
  width:299px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:550px;
  top:440px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:700px;
  top:440px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:420px;
  top:365px;
  width:80px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:144px;
  top:134px;
  width:19px;
  height:23px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:23px;
}
#u19_img.selected {
}
#u19.selected {
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:161px;
  top:134px;
  width:29px;
  height:23px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:23px;
}
#u21_img.selected {
}
#u21.selected {
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:187px;
  top:134px;
  width:31px;
  height:23px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:23px;
}
#u23_img.selected {
}
#u23.selected {
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:216px;
  top:134px;
  width:40px;
  height:23px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u25_img.selected {
}
#u25.selected {
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:144px;
  top:234px;
  width:80px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:234px;
  top:234px;
  width:50px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u29_input:disabled {
  color:grayText;
}
#u30 {
  position:absolute;
  left:60px;
  top:199px;
  width:74px;
  height:16px;
  font-size:14px;
  color:#990033;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:60px;
  top:269px;
  width:128px;
  height:16px;
  font-size:14px;
  color:#990033;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:220px;
  top:269px;
  width:100px;
  height:15px;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36 {
  position:absolute;
  left:310px;
  top:269px;
  width:60px;
  height:15px;
}
#u37 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u36_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38 {
  position:absolute;
  left:380px;
  top:269px;
  width:100px;
  height:15px;
}
#u39 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u38_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40 {
  position:absolute;
  left:283px;
  top:138px;
  width:100px;
  height:15px;
}
#u41 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u40_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42 {
  position:absolute;
  left:60px;
  top:339px;
  width:119px;
  height:16px;
  font-size:14px;
  color:#990033;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:200px;
  top:330px;
  width:80px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u46 {
  position:absolute;
  left:246px;
  top:199px;
  width:48px;
  height:22px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u46_input:disabled {
  color:grayText;
}
#u47 {
  position:absolute;
  left:144px;
  top:199px;
  width:92px;
  height:22px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u47_input:disabled {
  color:grayText;
}
#u48 {
  position:absolute;
  left:304px;
  top:199px;
  width:60px;
  height:22px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u48_input:disabled {
  color:grayText;
}
