body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:50px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:73px;
  width:89px;
  height:21px;
  font-size:18px;
  color:#990033;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:50px;
  top:95px;
  width:740px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u5 {
  position:absolute;
  left:50px;
  top:174px;
  width:576px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:50px;
  top:118px;
  width:243px;
  height:18px;
  font-size:16px;
  color:#000000;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:50px;
  top:230px;
  width:133px;
  height:30px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:129px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:50px;
  top:148px;
  width:607px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  white-space:nowrap;
}
